APP_ICON ICON "../../common/assets/logo.ico"
LOGO_IMG RCDATA "logo.jpg"
TRANSLATION_JSON RCDATA "translations.json"
MONOBRIDGE_DLL RCDATA "../../common/libs/x86/MonoBridge.dll"
GCMINJECTION_DLL RCDATA "GCMInjection.dll"