build/
.vscode/
bin/
obj/
.venv/
tools/
docs/
*.sln
*.ps1
MonoBridge.dll
Mono.dll
IL2CPP.dll
UE.dll
trainers/**/*.ttf
scripts/process_user_trainers.py
data/user_trainers.json
data/user_trainers.xlsx
data/completed_trainers.txt
data/User Trainers/
