build/
.vscode/
bin/
obj/
.venv/
*.sln
*.ps1
MonoBridge.dll
GCMInjection.dll
IL2CPP.dll
trainers/**/*.ttf
process_user_trainers.py
user_trainers.json
user_trainers.xlsx
completed_trainers.txt
User Trainers/
documents/*.txt
documents/*.md